* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    font-family:'Open Sans', sans-serif;
}

nav {
   background-color: black;
}

nav ul{
   list-style-type: none;
}

.list-menu li {
   display: inline-block;
   padding: 10px;
   text-align: right;
   vertical-align: middle;
}

.list-menu  a{
   text-decoration: none;
   color: white;
}

/* reglas para background */
header {
    background-image: url(../img/bg-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Reglas para texto */

    color: white;
    text-align: center;
    font-family: 'open sans';
    text-shadow: 0px 3px 6px black;
}

header h3 {
    font-size:40px ;
    font-weight: lighter;
}
#Proxima-Charla{
    background: #a4452c;
    padding: 100px;
    color: white;
}
 #Proxima-Charla .wrapper {
   width: 800px;
   margin: auto;
 }

 .wrapper img {
    width: 25%;
 }

 .wrapper .Texto {
    width: 70%;
    margin-left: 4%;
 }

 .wrapper img, .Texto{
    display: inline-block;
    vertical-align: middle;
 }

 nav {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Protest Riot', sans-serif;
 }

 nav {
    position: sticky;
 }

 ul svg {
    fill: white;
    width: 50px;
 }

 footer{
    text-align: center;
    background: black;
    color: white;
    padding: 20px;
 }
.event {
   text-align: justify;
   padding: 2rem 3rem;
}

.event {
   text-align: center;
}

i {
    font-size: 30px;
}

#Eventos-Anteriores{
   text-align: center;
}